#========================================================
#    Pin assingment for BASYS2
#    Xilinx Spartan3E board
#========================================================

#========================================================
# clock and reset
#========================================================
NET "TL_clk"    LOC = "B8" ;
NET "TL_reset" LOC = P11; 

#========================================================
# buttons & switches 
#========================================================
# 4 push buttons 
#NET "write_data"   LOC = "G12";  #btn<0>

#NET "sw<0>" LOC = "P11";  # Bank = 2, Signal name = SW0

# Pin assignment for PMOD connectors
#NET "JA<1>" LOC = "B2" ;
NET "TL_sensor_l" LOC =B5;
NET "TL_sensor_m" LOC =J3;
NET "TL_sensor_r" LOC =A3;

NET "TL_motor_l" LOC =A9;
NET "TL_motor_r" LOC =B9;

NET "TL_rx" LOC = "A10" ; #xbee out (received data)
NET "TL_tx" LOC = "C9" ; #xbee in (data to send)




